src/main/java/publicadores/controladorRegistro.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Publicadores/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Publicadores/" name="ControladorPublishRegistroService">
<types>
<xsd:schema>
<xsd:import namespace="http://Publicadores/" schemaLocation="http://127.0.0.1:1927/controladorRegistro?xsd=1"/>
</xsd:schema>
</types>
<message name="obtenerRegistros"/>
<message name="obtenerRegistrosResponse">
<part name="return" type="tns:registroArray"/>
</message>
<message name="obtenerRegistrosSocio">
<part name="arg0" type="tns:dtSocio"/>
</message>
<message name="obtenerRegistrosSocioResponse">
<part name="return" type="tns:registroArray"/>
</message>
<message name="getRegistrosClase">
<part name="arg0" type="tns:dtClase"/>
</message>
<message name="getRegistrosClaseResponse">
<part name="return" type="tns:registroArray"/>
</message>
<message name="registrarSocioClase">
<part name="arg0" type="tns:dtClase"/>
<part name="arg1" type="tns:dtSocio"/>
</message>
<message name="registrarSocioClaseResponse"/>
<message name="RegistroExistenteException">
<part name="fault" element="tns:RegistroExistenteException"/>
</message>
<portType name="ControladorPublishRegistro">
<operation name="obtenerRegistros">
<input wsam:Action="http://Publicadores/ControladorPublishRegistro/obtenerRegistrosRequest" message="tns:obtenerRegistros"/>
<output wsam:Action="http://Publicadores/ControladorPublishRegistro/obtenerRegistrosResponse" message="tns:obtenerRegistrosResponse"/>
</operation>
<operation name="obtenerRegistrosSocio">
<input wsam:Action="http://Publicadores/ControladorPublishRegistro/obtenerRegistrosSocioRequest" message="tns:obtenerRegistrosSocio"/>
<output wsam:Action="http://Publicadores/ControladorPublishRegistro/obtenerRegistrosSocioResponse" message="tns:obtenerRegistrosSocioResponse"/>
</operation>
<operation name="getRegistrosClase">
<input wsam:Action="http://Publicadores/ControladorPublishRegistro/getRegistrosClaseRequest" message="tns:getRegistrosClase"/>
<output wsam:Action="http://Publicadores/ControladorPublishRegistro/getRegistrosClaseResponse" message="tns:getRegistrosClaseResponse"/>
</operation>
<operation name="registrarSocioClase" parameterOrder="arg0 arg1">
<input wsam:Action="http://Publicadores/ControladorPublishRegistro/registrarSocioClaseRequest" message="tns:registrarSocioClase"/>
<output wsam:Action="http://Publicadores/ControladorPublishRegistro/registrarSocioClaseResponse" message="tns:registrarSocioClaseResponse"/>
<fault message="tns:RegistroExistenteException" name="RegistroExistenteException" wsam:Action="http://Publicadores/ControladorPublishRegistro/registrarSocioClase/Fault/RegistroExistenteException"/>
</operation>
</portType>
<binding name="ControladorPublishRegistroPortBinding" type="tns:ControladorPublishRegistro">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="obtenerRegistros">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Publicadores/"/>
</output>
</operation>
<operation name="obtenerRegistrosSocio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Publicadores/"/>
</output>
</operation>
<operation name="getRegistrosClase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Publicadores/"/>
</output>
</operation>
<operation name="registrarSocioClase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Publicadores/"/>
</output>
<fault name="RegistroExistenteException">
<soap:fault name="RegistroExistenteException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ControladorPublishRegistroService">
<port name="ControladorPublishRegistroPort" binding="tns:ControladorPublishRegistroPortBinding">
<soap:address location="http://127.0.0.1:1927/controladorRegistro"/>
</port>
</service>
</definitions>