src/main/java/publicadores/controladorActividadDeportiva.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Publicadores/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Publicadores/" name="ControladorPublishActividadDeportivaService">
<types>
<xsd:schema>
<xsd:import namespace="http://Publicadores/" schemaLocation="http://127.0.0.1:1927/controladorActividadDeportiva?xsd=1"/>
</xsd:schema>
</types>
<message name="getClases">
<part name="arg0" type="tns:dtActividadDeportiva"/>
</message>
<message name="getClasesResponse">
<part name="return" type="tns:dtClaseArray"/>
</message>
<message name="getActividadesDeportivasProfesor">
<part name="arg0" type="tns:dtProfesor"/>
</message>
<message name="getActividadesDeportivasProfesorResponse">
<part name="return" type="tns:dtActividadDeportivaArray"/>
</message>
<message name="UsuarioNoExisteException">
<part name="fault" element="tns:UsuarioNoExisteException"/>
</message>
<message name="getActividadesDeportivas"/>
<message name="getActividadesDeportivasResponse">
<part name="return" type="tns:dtActividadDeportivaArray"/>
</message>
<portType name="ControladorPublishActividadDeportiva">
<operation name="getClases">
<input wsam:Action="http://Publicadores/ControladorPublishActividadDeportiva/getClasesRequest" message="tns:getClases"/>
<output wsam:Action="http://Publicadores/ControladorPublishActividadDeportiva/getClasesResponse" message="tns:getClasesResponse"/>
</operation>
<operation name="getActividadesDeportivasProfesor">
<input wsam:Action="http://Publicadores/ControladorPublishActividadDeportiva/getActividadesDeportivasProfesorRequest" message="tns:getActividadesDeportivasProfesor"/>
<output wsam:Action="http://Publicadores/ControladorPublishActividadDeportiva/getActividadesDeportivasProfesorResponse" message="tns:getActividadesDeportivasProfesorResponse"/>
<fault message="tns:UsuarioNoExisteException" name="UsuarioNoExisteException" wsam:Action="http://Publicadores/ControladorPublishActividadDeportiva/getActividadesDeportivasProfesor/Fault/UsuarioNoExisteException"/>
</operation>
<operation name="getActividadesDeportivas">
<input wsam:Action="http://Publicadores/ControladorPublishActividadDeportiva/getActividadesDeportivasRequest" message="tns:getActividadesDeportivas"/>
<output wsam:Action="http://Publicadores/ControladorPublishActividadDeportiva/getActividadesDeportivasResponse" message="tns:getActividadesDeportivasResponse"/>
</operation>
</portType>
<binding name="ControladorPublishActividadDeportivaPortBinding" type="tns:ControladorPublishActividadDeportiva">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getClases">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Publicadores/"/>
</output>
</operation>
<operation name="getActividadesDeportivasProfesor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Publicadores/"/>
</output>
<fault name="UsuarioNoExisteException">
<soap:fault name="UsuarioNoExisteException" use="literal"/>
</fault>
</operation>
<operation name="getActividadesDeportivas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Publicadores/"/>
</output>
</operation>
</binding>
<service name="ControladorPublishActividadDeportivaService">
<port name="ControladorPublishActividadDeportivaPort" binding="tns:ControladorPublishActividadDeportivaPortBinding">
<soap:address location="http://127.0.0.1:1927/controladorActividadDeportiva"/>
</port>
</service>
</definitions>