src/main/java/publicadores/controladorUsuario.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Publicadores/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Publicadores/" name="ControladorPublishUsuarioService">
<types>
<xsd:schema>
<xsd:import namespace="http://Publicadores/" schemaLocation="http://127.0.0.1:1927/controladorUsuario?xsd=1"/>
</xsd:schema>
</types>
<message name="getClasesProfesor">
<part name="arg0" type="tns:dtClaseArray"/>
<part name="arg1" type="tns:dtProfesor"/>
</message>
<message name="getClasesProfesorResponse">
<part name="return" type="tns:dtClaseArray"/>
</message>
<message name="modificarUsuario">
<part name="arg0" type="tns:dtUsuario"/>
</message>
<message name="modificarUsuarioResponse"/>
<message name="UsuarioNoExisteException">
<part name="fault" element="tns:UsuarioNoExisteException"/>
</message>
<message name="getUsuarios"/>
<message name="getUsuariosResponse">
<part name="return" type="tns:dtUsuarioArray"/>
</message>
<portType name="ControladorPublishUsuario">
<operation name="getClasesProfesor" parameterOrder="arg0 arg1">
<input wsam:Action="http://Publicadores/ControladorPublishUsuario/getClasesProfesorRequest" message="tns:getClasesProfesor"/>
<output wsam:Action="http://Publicadores/ControladorPublishUsuario/getClasesProfesorResponse" message="tns:getClasesProfesorResponse"/>
</operation>
<operation name="modificarUsuario">
<input wsam:Action="http://Publicadores/ControladorPublishUsuario/modificarUsuarioRequest" message="tns:modificarUsuario"/>
<output wsam:Action="http://Publicadores/ControladorPublishUsuario/modificarUsuarioResponse" message="tns:modificarUsuarioResponse"/>
<fault message="tns:UsuarioNoExisteException" name="UsuarioNoExisteException" wsam:Action="http://Publicadores/ControladorPublishUsuario/modificarUsuario/Fault/UsuarioNoExisteException"/>
</operation>
<operation name="getUsuarios">
<input wsam:Action="http://Publicadores/ControladorPublishUsuario/getUsuariosRequest" message="tns:getUsuarios"/>
<output wsam:Action="http://Publicadores/ControladorPublishUsuario/getUsuariosResponse" message="tns:getUsuariosResponse"/>
</operation>
</portType>
<binding name="ControladorPublishUsuarioPortBinding" type="tns:ControladorPublishUsuario">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getClasesProfesor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Publicadores/"/>
</output>
</operation>
<operation name="modificarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Publicadores/"/>
</output>
<fault name="UsuarioNoExisteException">
<soap:fault name="UsuarioNoExisteException" use="literal"/>
</fault>
</operation>
<operation name="getUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Publicadores/"/>
</output>
</operation>
</binding>
<service name="ControladorPublishUsuarioService">
<port name="ControladorPublishUsuarioPort" binding="tns:ControladorPublishUsuarioPortBinding">
<soap:address location="http://127.0.0.1:1927/controladorUsuario"/>
</port>
</service>
</definitions>