src/main/java/publicadores/controladorClase.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.0 git-revision#129f787. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Publicadores/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Publicadores/" name="ControladorPublishClaseService">
<types>
<xsd:schema>
<xsd:import namespace="http://Publicadores/" schemaLocation="http://127.0.0.1:1927/controladorClase?xsd=1"/>
</xsd:schema>
</types>
<message name="getClasesRanking"/>
<message name="getClasesRankingResponse">
<part name="return" type="tns:dtClaseArray"/>
</message>
<message name="agregarClase">
<part name="arg0" type="tns:dtClase"/>
<part name="arg1" type="tns:dtUsuario"/>
<part name="arg2" type="xsd:string"/>
</message>
<message name="agregarClaseResponse"/>
<message name="ClaseExistenteException">
<part name="fault" element="tns:ClaseExistenteException"/>
</message>
<message name="buscarClase">
<part name="arg0" type="xsd:string"/>
</message>
<message name="buscarClaseResponse">
<part name="return" type="tns:dtClase"/>
</message>
<portType name="ControladorPublishClase">
<operation name="getClasesRanking">
<input wsam:Action="http://Publicadores/ControladorPublishClase/getClasesRankingRequest" message="tns:getClasesRanking"/>
<output wsam:Action="http://Publicadores/ControladorPublishClase/getClasesRankingResponse" message="tns:getClasesRankingResponse"/>
</operation>
<operation name="agregarClase" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://Publicadores/ControladorPublishClase/agregarClaseRequest" message="tns:agregarClase"/>
<output wsam:Action="http://Publicadores/ControladorPublishClase/agregarClaseResponse" message="tns:agregarClaseResponse"/>
<fault message="tns:ClaseExistenteException" name="ClaseExistenteException" wsam:Action="http://Publicadores/ControladorPublishClase/agregarClase/Fault/ClaseExistenteException"/>
</operation>
<operation name="buscarClase">
<input wsam:Action="http://Publicadores/ControladorPublishClase/buscarClaseRequest" message="tns:buscarClase"/>
<output wsam:Action="http://Publicadores/ControladorPublishClase/buscarClaseResponse" message="tns:buscarClaseResponse"/>
</operation>
</portType>
<binding name="ControladorPublishClasePortBinding" type="tns:ControladorPublishClase">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getClasesRanking">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Publicadores/"/>
</output>
</operation>
<operation name="agregarClase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Publicadores/"/>
</output>
<fault name="ClaseExistenteException">
<soap:fault name="ClaseExistenteException" use="literal"/>
</fault>
</operation>
<operation name="buscarClase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://Publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://Publicadores/"/>
</output>
</operation>
</binding>
<service name="ControladorPublishClaseService">
<port name="ControladorPublishClasePort" binding="tns:ControladorPublishClasePortBinding">
<soap:address location="http://127.0.0.1:1927/controladorClase"/>
</port>
</service>
</definitions>